@import 'vars';

.home {
    &__block {

        &--item {
            margin: 10px;
            padding: 15px;
            border-radius: 5px;
            transition: 0.2s linear;
            position: relative;
            border: 2px solid $lightGray;

            &:hover {
                background-color: $lightGray
            }

            &.profile {
                padding-top: 25px;
                padding-bottom: 10px;
                border: 2px solid $lightGray;

                textarea {
                    width: 90%;
                }
            }

            &__edit {
                position: absolute;
                right: 00px;
                top: 5px;

                img {
                    width: 15px;
                    cursor: pointer;
                    margin-right: 7px;
                }
            }

            &__user {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                &--img {
                    width: 40px;
                }

                &--name {
                    margin-left: 15px;
                    font-weight: bold;
                }

                &--date {
                    margin-left: 15px;
                }
            }

            &__post {
                .main__button {
                    margin-left: 55px;

                    &.profile {
                        margin-left: 10px;
                    }
                }

                &--title {
                    margin-left: 55px;

                    &.profile {
                        margin-left: 0px;
                    }
                }

                &--text {
                    margin-top: 5px;
                    margin-left: 55px;

                    &.profile {
                        margin-left: 0px;
                    }
                }

                &--date {
                    margin-top: 5px;
                    margin-left: 55px;

                    &.profile {
                        margin-left: 0px;
                    }
                }

                &--comments {
                    display: none;

                    &.open {
                        display: flex;
                        flex-direction: column;
                        margin-left: 55px;

                        &.profile {
                            margin-left: 10px;
                        }
                    }

                    &__name {
                        margin-top: 8px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}